<nav class="sidebar close">  
 
    <header>
        <div class="image-text">
            <span class="image">
                <!--<img src="logo.png" alt="">-->
            </span>

            <div class="text logo-text">
                <br>
                <br>
                
            </div>
        </div>

        <i class='bx toggle ham-button'>☰</i>
        
    </header>

    <div class="menu-bar">
        <div class="menu">

            <li class="search-box">
                <i class='bx bx-search icon' id="search-button"></i>
                
                <input id="search-input" type="text" placeholder="Search City">
            </li>

            <ul class="menu-links">
                <li class="nav-link">
                    <a href="/weathers/home">
                        <i class='bx bx-home-alt icon' ></i>
                        <span class="text nav-text">Forecast</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-radar icon'></i>
                        <box-icon name='radar' ></box-icon>
                        <span class="text nav-text">Maps</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="#">
                        <i class="bi bi-bar-chart-steps icon"></i>
                        <span class="text nav-text">Historical Data</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="/weathers/favourites"><i class='bx bx-star icon'></i>
                        <span class="text nav-text">Favourites</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="#">
                        <i class="bi bi-arrow-clockwise icon"></i>
                        <span class="text nav-text">Refresh</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="#">
                        <i class="bi bi-emoji-smile icon"></i>
                        <span class="text nav-text">Send Feedback</span>
                    </a>
                </li>


            </ul>
        </div>

        <div class="bottom-content">
            <li class="">
                <a href="#">
                    <i class='bx bx-log-out icon' ></i>
                    <span class="text nav-text">Logout</span>
                </a>
            </li>

            <li class="mode">
                <div class="sun-moon">
                    <i class='bx bx-moon icon moon'></i>
                    <i class='bx bx-sun icon sun'></i>
                </div>
                <span class="mode-text text">Dark mode</span>

                <div class="toggle-switch">
                    <span class="switch"></span>
                </div>
            </li>
            
        </div>
    </div>

</nav>